form#contact-form(method='post' action='#')
    input#email(type='email' name='email' placeholder='Contact Email')
    input#subject(type='text' name='subject' placeholder='Subject')
    input#content(type='text' name='content' placeholder='Enter text')
    input(type='submit' value='Sign Up')