block footer 
    footer#footer
        ul.icons
            li
                a.btn(href='https://github.com/YvesImmer')
                    i.fa.fa-github.fa-lg
            li
            a.btn(href='#')
                    i.fa.fa-envelope.fa-lg