.flex-column.nav.fixed-top.mt-5.mx-5.nav-expand-sm
    .nav-item.py-2
        a.nav-link.active(href="#profile") Profil
    .nav-item.py-2
        a.nav-link.active(href="#projects") Projekte
    .nav-item.py-2 
        a.nav-link.active(href="#contact") Kontakt