mixin project(title, description, image_src)
    .project.d-flex 
        .d-flex.flex-column.p-2
            img(src=image_src)
        .d-flex.flex-column.p-8
            h2= title 
            p= description 