extends layout


block body-content
  div.d-flex.flex-column.align-items-center
    // Header
    header#header
      .flex-row
        include includes/profile

    //projects
    .flex-row
      include includes/projects
    // Signup Form
    .flex-row
      include includes/contact 
    // Footer
    .flex-row
      include includes/footer

    // Scripts
    .flex-row
      script(src='/assets/js/main.js')
