extends layout


block body-content
  div.d-flex.flex-column.align-items-center.h-100.justify-content-center
    .row
      .col-2.align-items-center
        .ul 
          .li
            p foo 
          .li 
            p bar

      .col-8
        // Header
        header#header
          include includes/profile

        //projects
        include includes/projects
        // Signup Form
        include includes/contact 
        // Footer
        include includes/footer

      // Scripts
      script(src='/assets/js/main.js')
